body{
    margin:0;
    background-color:#F1F2F4;
}
header{
    width:100%;
    height:200px;
    border-bottom:.23px solid #f3e9e9;
    background-color:white;
}
.header1{
    width:100%;
    height:100px;
    
}
.rokomarilogo{
    width:20%;
    height:100px;
   
    float:left;
}

.searcharea{
    width:48%;
    height:100px;
   
    float:left;
}
.iconarea{
    width:7%;
    height:100px;
   
    float:left;
}
.signinarea{
    width:17%;
    height:100px;
  
    float:left;
}
.search input{
    margin: 34px 0px 0px 0px;
    width: 560px;
    padding: 10px 20px;
    border: .25px solid black;
    border-bottom:2px solid orange;
}
.search button{
    width: 46px;
    height: 37px;
    background: #0397D3;
    border: none;
    color: white;
}
.logoimage{
    width: 195px;
    height: 50px;
    border: 1px solid rgb(199, 194, 194);
    margin: 25px 0px 0px 12px;
    border-radius:4px;
}
.imagem{
    width: 40px;
    border-radius: 50%;
     margin-top: 5px;
     margin-left: 5px;
}


.boiname{
    width:100%;
    height:50px;
    
}
.boiname1{
    width: 100%;
    margin: auto;
    border: 1px solid #89C4F4;
    height: 50px;
    border-top:1px solid white;
}
.boiname1 ul{
    list-style-type: none;
    margin-left: 150px;
    margin-top: 10px;
}
.boiname1 ul li{
    float: left;
    margin-left: 10px;
   
    padding: 4px 15px;
}
.boiname1 ul li:hover{
    border: 1px solid #89C4F4;
    border-bottom-color: #FFFFFF;
}
.listhover{
    border: 1px solid #89C4F4;
    border-bottom-color: #FFFFFF;
}
.boiname1 ul li a{
    font-size:22px;
    text-decoration:none;
    color:black;
}
.boiname1 ul li a:hover{
    color: #3b65b1;
}

.lekhok ul{
    list-style-type:none;
    margin-left:40px;
}
.lekhok ul li{
    float:left;
    margin-left:55px;
}
.lekhok ul li a{
    font-size:16px;
    text-decoration:none;
    color:black;
}
.lekhok ul li a:hover{
    color: #3b65b1;
}
/*header end*/



/*section start*/
.section1image{
    width: 60px;
    height: 200px;
    border-radius: 10px;
    
    position: fixed;
   
    margin: 70px 0px 0px 1274px;
    background:white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.taka{
    width: 60px;
    height: 100px;
    
    float: left;
}
.whisle{
    width:60px; 
    height:100px; 
   
    float:left;
}

.refer{
    width: 259px;
    height: 25px;
    background: white;
    padding: 10px 19px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transform: rotate( 
270deg);
    margin: 94px 0px 0px -122px;
    position: fixed;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    
}
.taka2 i {
    font-size: 37px;
    margin-top: 15px;
    margin-left: 5px;
}
/*section image area start*/
.imagesection{
    width: 82%;
    height: 224px;
  
    margin: auto;
    margin-top: 20px;
}
.imagesection image{
    width: 100%;
    height: 224px;
}
/*section image area end*/

/*rokomari stock area start*/
.stock{
width: 82%;
height: 85px;

margin: auto;
margin-top: 20px;
}

.stock1{
    width: 32%;
    height: 82px;
    
   float:left;
    margin:auto;
}
.stock2{
    width: 32%;
    height: 82px;
   
    float: left;
    /* margin: auto; */
    margin-left: 22px;
}
/*rokomari stock area end*/

/*product section start*/
.product{
     width: 82%;
     height: 85px;
     border:.1px solid #f9e0b8;
     margin: auto;
     margin-top: 20px;
     background:white;
}
.product1{
    width:23%;
    height:85px;
    float:left;
    border-right:.1px solid #f9e0b8;
}
.product2{
    width:18%;
    height:85px;
    float:left;
    
}
.product3{
    width:22%;
    height:85px;
    float:left;
    
}
.plogo1 {
    height: 55px;
    border-radius: 50%;
    margin: 15px 0px 0px 15px;
}
.plogo{
    float:left;
    width:90px;
}
.name1{
    margin-top:-20px;

}
.name1 p{
    font-size: 20px;color: #584f4f;
}

.pdlogo{
    width: 80px;
    float: left;
    height: 85px;
}
.pdlogo1{
    margin: 25px 0px 0px 25px;
}
.pd0{
    font-size: 20px;
    font-weight: bold;
}
.pd1{
    margin-top: -17px;
    font-size: 16px;
}
.pd1 a{
    text-decoration:none;
    color:#4A8FD9;
}
/*product section end*/

/*recently product section start*/
.recently{
    width: 82%;
    height:450px;
    margin:auto;
    margin-top:20px;
    background:#FFFFFF;
    
    box-shadow: 0px 4px 6px -3px #9c9c9c;
}
.recently1{
   width:100%;
   height:40px;

}
.recently2{
    width:100%;
    
    
}
.recently3{
    width:100%;
    height:406px;
    
}
.bookbtn1{
    float: left;
    height: 70px;
    font-size: 30px;
    background: white;
    border: none;
    box-shadow: 0px 0px 6px 0px;
    width: 35px;
    color: #392525b3;
    border-radius:4px;
    margin-top: 170px;
    cursor:pointer;
}
.bookbtn2{
    float: right;
    height: 70px;
    font-size: 30px;
    background: white;
    border: none;
    box-shadow: 0px 0px 6px 0px;
    width: 35px;
    color: #392525b3;
    border-radius:4px;
    margin-top: 170px;
    cursor:pointer;
}
.recently1 span{
    font-size: 25px;
    margin-left: 15px;
}
.bookdiv{
    width:15%;
    height:400px;
    margin-left: 6px;

    float:left;
}
.bookdiv:hover{
    opacity:0.3;
    cursor:pointer;
    box-shadow: inset 0px 0px 7px 0px #130202;
}


.rebook{
    height:200px;
   
}

.strike1{
    font-weight: bold;
    color: gray;
    padding-right: 10px;
}

/*recently product section end*/



/*seebook section start*/
.seebook{
    width:82%;
    height:200px;
    box-shadow: 0px 4px 6px -3px #9c9c9c;
    background:#FFFFFF;
    margin:auto;
    margin-top:20px;
}
.seebook1{
    width:100%;
    height:40px;
   
}
.seebook1 h1{
    display:inline;
    font-size:30px;
    font-weight:400;
    margin-left:10px;
}
.seebookimg{
    width:14%;
    height:120px;
   
    float:left;
    margin: 20px 0px 0px 30px;
    background-image:url('image/seebookimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor:pointer;
}
.seebookimg p{
    color: white;
    text-align: center;
    margin: 40px 0px;

}
.seebookimg1{
    width:14%;
    height:120px;
    
    float:left;
    background-image:url('image/seebookimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0px 0px 8px;
    cursor:pointer;
}
.seebookimg6{
    width:14%;
    height:120px;
   
    float:right;
    background-image:url('image/seebookimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 8px 1px 0px;
    cursor:pointer;

}
.seebookimg1 p{
    color: white;
    text-align: center;
    margin: 40px 0px;
}
.seebookimg6 p{
    color: white;
    text-align: center;
    margin: 40px 0px;
}
.seebookbtn1{
    float: left;
    height: 70px;
    font-size: 30px;
    background: white;
    border: none;
    box-shadow: 0px 0px 6px 0px;
    width: 35px;
    color: #392525b3;
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: -11px;
}
.seebookbtn2{
    float: right;
    height: 70px;
    font-size: 30px;
    background: white;
    border: none;
    box-shadow: 0px 0px 6px 0px;
    width: 35px;
    color: #392525b3;
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
    margin-right: -10px;
}
/*seebook section end*/


/*subject section start*/
.subject{
    width:82%;
    height:165px;
    
    margin:auto;
    margin-top:20px;
}
.subject1{
    width:100%;
    height:70px;
    
}
.linka{
    float:left;
    width:18.5%;
    height:70px;
    background:#e3f3fa;
    border-radius:5px;
    margin-left: 18px;
    transition:background-color 1s ease 0s;
    transform-origin: left;
    border:.1px solid #0397D3;
}
.linka:hover{
    color:white;
  background-color:#0397D3;
  transform-origin: left;
}
.linka a:hover{
    color:white;
}
.linka1 a:hover{
    color:white;
}
.linka1{
    float:left;
    width:18.5%;
    height:70px;
    background:#e3f3fa;
    border-radius:5px;
    transition:background-color 1s ease 0s;
    transform-origin: left;
    border:.1px solid #0397D3;
}
.linka1:hover{
    color:white;
  background-color:#0397D3;
  transform-origin: left;
}
.linka a p{
    margin-top:22px;
    text-align:center;
}
.linka a{
    text-decoration:none;
    color:black;
}
.linka1 a p{
    text-align: center;
    margin-top: 22px;
}
.linka1 a{
    text-decoration:none;
    color:black;
}
.subject2{
    margin-top: 22px;
    width: 100%;
    height: 70px;
    
}
/*subject section end*/

/*sciense fiction start*/
.sciense{
    width:82%;
    height:420px;
  
    margin:auto;
    margin-top:20px;
    background:#FFFFFF;
    box-shadow: 0px 4px 6px -3px #9c9c9c;
}
.viewbtnall{
    float: right;
    margin-top: -63px;
    padding: 7px 15px;
    margin-right: 15px;
    background: white;
    color: #0397D3;
    border: 1px solid #0397D3;
}
.viewbtnall:hover{
    color:white;
    background:#0397D3;
}
.scienseh1{
    width:100%;
    height:40px;
   
}
.scienseh1 p{
    margin-left: 15px;
    font-size: 30px;
    margin-top: 2px;
   
}
.scienseh2{
    width:100%;
    height:377px;
 
}
.sciense1{
    width:19%;
    height:350px;
    
    float:left;
    margin:-25px 0px 0px 8px;
}
.sciense1:hover{
    opacity: 0.3;
    cursor: pointer;
    box-shadow: inset 0px 0px 7px 0px #130202;
}
.siceimg1{
    height: 210px;
    
}
.scienseimg{
    width: 135px;
    margin: 17px 0px 0px 40px;
}
.sciensebtn1{
    float: left;
    height: 70px;
    font-size: 30px;
    background: white;
    border: none;
    box-shadow: 0px 0px 6px 0px;
    width: 35px;
    color: #392525b3;
    border-radius: 4px;
    margin-top: 145px;
    cursor: pointer;
    margin-left: -11px;
}
.scienseimage1{
    width: 135px;
    margin: 17px 0px 0px 15px;
}
.sciensebtn2{
    float: right;
    height: 70px;
    font-size: 30px;
    background: white;
    border: none;
    box-shadow: 0px 0px 6px 0px;
    width: 35px;
    color: #392525b3;
    border-radius: 4px;
    margin-top: 145px;
    cursor: pointer;
    margin-right: -10px;
}
/*sciense fiction end*/















/*footer area start*/
.footer{
    width:100%;
    height:255px;
   
    margin-top:20px;
    background:white;
}
.footerdiv1{
    width:100%;
    height:80px;
    border:1px solid gray;

}
.footerdiv2{
    width:100%;
    height:90px;
   
    
}
.footerdiv3{
    width:100%;
    height:50px;
  
    background:#F1F2F3;
}
.footerlogo1{
    width:30px;
}
.footerlogo2{
    width: 75px;
}
.footerlogo3{
    width: 75px;
}
.footerlogo4{
    width: 90px;
}
.footerlogo5
.footerlogo6{
    width: 60px;
}
.footerlogo7{
    width: 75px;
}
.footerlogo8{
    width: 75px;
}
.footerlogo9{
    width: 150px;
}
.spandiv span{
    margin-left:10px;
}
.footerdiv2 p{
    text-align:center;
    color:gray;
}
/*footer area end*/



/*calculator area start*/
.calculator{
    width:82%;
    height:420px;
  
    margin:auto;
    margin-top:20px;
    background:#FFFFFF;
    box-shadow: 0px 4px 6px -3px #9c9c9c;
}

.logimg{
    width:82%;
    height:115px;
    margin:auto;
    margin-top:20px;
    
}
.logimg1{
    height:115px;
 
}
.poet{
    width:82%;
    height:300px;
    margin:auto;
    margin-top:20px; 
    background:white;
    box-shadow: 0px 4px 6px -3px #9c9c9c;
}
   
.poet1{
    width:100%;
    height:30px;
   
}
.poet2{
    width:100%;
    height:270px;
}
.poetbtn{
    margin: 1px 0px 0px 141px;
    padding: 5px 10px;
    border: 1px solid #0397D3;
    background: white;
    color: #0397D3;
}
.poetbtn:hover{
    background:#0397D3;
    color:white;
}
.poetdiv{
    width: 19%;
    height: 270px;
    float: left;
    
    margin-left: 8px;
}